<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ request.page.title }}</title>
    {% for filename in request.page.css %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/{{ filename }}">{% endfor %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    {% for filename in request.page.js %}
    
    <script type="text/javascript" src="{% if "http://" in filename %}{{ filename }}{% else %}{{ MEDIA_URL }}js/{{ filename }}{% endif %}"></script>{% endfor %}
  </head>
  <body>
    {{ request.page.content }}
  </body>
</html>
