<h1>{{ request.page.title }}</h1>

<table cellspacing="0" cellpadding="0">
  <tr><td>Kommunekode:</td><td>{{ c.municipality_no }}</td></tr>
  <tr><td>Vejkode:</td><td>{{ c.street_no }}</td></tr>
  <tr><td>Tidligere vejnavn:</td><td>{{ c.old_name }}</td></tr>
  <tr><td>Nyt vejnavn:</td><td>{{ c.new_name }}</td></tr>
  <tr><td>Forklaring:</td><td>{{ c.comment }}</td></tr>
  <tr><td>Oprettet:</td><td>{{ c.created|date:"G:i j/n-Y" }}</td></tr>
  <tr><td>- af:</td><td><a href="http://www.openstreetmap.org/user/{{ c.created_by.name }}">{{ c.created_by }}</a>{# (<a href="?bruger={{ c.created_by_id }}">vis alle</a>,<a href="http://www.openstreetmap.org/user/{{ c.created_by.name }}">OpenStreetMap-profil</a>) #}</td></tr>
  {% if c.deleted %}
  <tr><td>Slettet:</td><td>{{ c.deleted|date:"G:i j/n-Y" }}</td></tr>
  <tr><td>- af:</td><td><a href="http://www.openstreetmap.org/user/{{ c.deleted_by.name }}">{{ c.deleted_by }}</a> {#(<a href="?bruger={{ c.deleted_by_id }}&slettet=1">vis alle</a>, OpenStreetMap-profil</a>)#}</td></tr>
  <tr><td>- bemærkning:</td><td><a {% if c.deleted_replaced_by %}href="{% url main.views.correction_details correction_id=c.deleted_replaced_by_id %}"{% endif %}>{{ c.deleted_comment }}</a></td></tr>
  {% endif %}
</table>

<h2>Vis på kort</h2>

<p>Vis på kort:
<a href="http://www.openstreetmap.org/?node={{ c.node_id }}">adressepunkt gemt ved oprettelse</a>,
<a href="http://www.openstreetmap.org/?lat={{ c.lat }}&lon={{ c.lon }}&zoom=17">placering gemt ved oprettelse</a></div>

{% if not c.deleted %}
<h2>Handlinger</h2>

<div>Handlinger:
<a href="{% url main.views.delete_correction correction_id=c.id %}">slet</a>,
<a href="http://osm.ter.dk/address_street.php?MunicipalityCode={{ c.municipality_no }}&StreetCode={{ c.street_no }}">genimportér adressepunkter</a>
</div>
{% endif %}

<p class="back">Tilbage til <a href="{% url main.views.intro %}">forside</a>.</p>
