<h1>{{ request.page.title }}</h1>

<p class="explanation">Skriv en kort forklaring på hvorfor rettelsen skal slettes. Hvis du gerne vil overskrive den, kan du i stedet <a href="{% url main.views.correct_way %}">oprette en ny rettelse</a>.</p>

<form method="POST" action="">
  {% csrf_token %}
  Forklaring: <input type="text" name="comment" value="" style="width: 20em">
  <input class="submit" type="submit" value="Slet">
</form>

<p>{{ msg }}</p>

<p class="back">Tilbage til <a href="{% url main.views.intro %}">forside</a>.</p>
