<h1>{{ request.page.title }}</h1>

<p class="explanation">Vis og rapportér rettelser til adressedata i <a
href="http://www.adresse-info.dk/">OIS/OSAK</a> som de bliver
importeret i <a
href="http://www.openstreetmap.org/">OpenStreetMap</a>.</p>

<div class="buttons">
  <a href="{% url main.views.corrections %}">Vis rettelser</a>
  <a href="{% url main.views.correct_way %}">Ret et vejnavn</a>
</div>

<h2>Baggrund</h2>

<p>På <a href="http://www.openstreetmap.org/">OpenStreetMap</a> er de
danske adressepunkter næsten allesammen oprettet af et <a href="http://osm.ter.dk/address_street.php">importeringsscript</a> der importerer data fra <a
href="http://www.adresse-info.dk/">OIS/OSAK</a>.</p>

<p>Adressepunkterne er generelt af meget høj kvalitet, men der har dog
vist sig at der er visse fejl og uhensigtsmæssigheder i OIS-dataene.
Derfor kan du her på siden indrapportere rettelser som vil indgå i
OpenStreetMaps' data; desuden håber vi at de på længere sigt kan
bruges til forbedre de offentlige data.</p>

<h2>Adgang til OpenStreetMap</h2>

<p>Bemærk at for at indrapportere rettelser skal vi bruge dit
OpenStreetMap-brugernavn. Hvis der er behov for det, bliver du derfor
omdirigeret til OpenStreetMap.org hvor du bliver spurgt om du vil give
tjenesten her lov til at bede om din profil. Det er det minimale vi
kan bede om for at få det til at fungere.</p>

<p>Hvis du ikke har en OpenStreetMap-profil, så skynd dig at <a
href="http://www.openstreetmap.org/user/new">oprette en</a>.</p>


<h2>JSON-API</h2>

<p class="json">Du kan hente <a href="{% url main.views.get_way_corrections %}">alle rettelser som JSON</a>. Svaret
indeholder dataene som arrays i <code>data</code> og
kolonneforklaringer med tilhørende index som et map i
<code>columns</code>.</p>

<p>JSON-tjenesten understøtter GET-parametrene
<code>municipality_no</code> og <code>street_no</code> til at afgrænse søgningen, <a href="{% url main.views.get_way_corrections %}?municipality_no=510">f.eks. som dette</a>.</p>


<h2>Hvem står bag</h2>

<p>Tjenesten er udviklet af <a href="http://people.iola.dk/olau/">Ole
Laursen</a>.</p>

<p>Kildekoden til tjenesten kan hentes på <a href="https://github.com/OleLaursen/oisfixes">github</a>.</p>

<p>XAPI-tilgang til Openstreetmap gennem <a href="http://www.mapquest.com/">MapQuest</a>.</p>
